<form class="shadow my-3 p-2">
    <div class="form-group">
        <label for="">Task</label>
        <input type="text" name="task" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Day</label>
        <input type="text" name="task" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Reminder</label>
        <input type="checkbox" name="task" class="form-check-input ms-1">
    </div>
    <app-button content="Submit" color="black"></app-button>
</form>
